/* tab pane style */
.tab-header-background {
    -fx-background-color: #454545;
}

.tab {
    -fx-background-color: #454545;
}
.tab .tab-label { 
    -fx-text-fill: #828282;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label
{
    -fx-text-fill: #000;
}
.tab:selected{
    -fx-background-color: #e6e6e6;
}